body, html {
    background: #bcd4cf;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    font-family: sans-serif;

}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 1.5em;
    overflow: hidden;
    background-color: #3b8895;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid slategray;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.3rem;

  }

  nav li a:hover:not(.active) {
    background-color: #97c8bf;
    color: black;
    font-weight: bold;
    border-radius: 35px;
  }
  
  nav .active {
    background-color: #bcd4cf;
    color: black;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid slategray;
  } 


h1 {
    text-align: center;
    margin: 2em;
}


h2 {
    display: flex;
    justify-content: center;
    margin: 100px auto;

}

/* checkerboard-table */
table {       
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 50px auto;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: white;
  }

  tr:nth-child(even) td:nth-child(odd),
  tr:nth-child(odd) td:nth-child(even) {
      background: black;
  }

/* checkerboard-divs/flex */
#checkerboard {
    display: flex;
    justify-content: center;
    margin: 1em;
}

#border {
    display: flex;
    border: 3px solid black;

}
.white {
   width: 100px;
   height: 100px;
   background: white; 
}

.black {
    width: 100px;
    height: 100px;
    background: black;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
    background-color: #3b8895;
    color: white;
    flex-direction: row;
    font-size: 1.3rem; 
    border: 1px solid slategray;

 }

 @media screen and (max-width: 800px) {
     nav li a {
         padding: 1em 1em;
         font-size: 1em;
     }

     .white{
         height: 3em;
         width: 3em;
     }

     .black {
        height:3em;
        width: 3em;
     }





 }







