body, html {
    background: #bcd4cf;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    font-family: sans-serif;

}
  nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 1.5em;
    overflow: hidden;
    background-color: #3b8895;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid slategray;
  }

  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 1.3rem;

  }

  nav li a:hover:not(.active) {
    background-color: #97c8bf;
    color: black;
    font-weight: bold;
    border-radius: 35px;
  }
  
  nav .active {
    background-color: #bcd4cf;
    color: black;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid slategray;
  } 


img {
    width: 100%;
}

section {
    margin: 3em;
    padding: 3em;
    line-height: 1.6;
}

section h1 {
    padding-bottom: 1em;
    font-size: 32px;
    font-weight: bold;
}

section ul li {
    margin: 1em;
    font-size: 1.2 rem;
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
    background-color: #3b8895;
    color: white;
    flex-direction: row;
    font-size: 1.3rem; 
    border: 1px solid slategray;

 }

 @media screen and (max-width: 800px) {
     nav li a {
         padding: 1em 1em;
         font-size: 1em;
     }

 }



